{% extends "base.html" %}
{% block content %}
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Editorial<br />
	for pelican</h1>
        <p>A free and fully responsive site template</p>
      </header>
      <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
      <ul class="actions">
        <li><a href="{{ SITEURL }}/pages/generic.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="{{ SITEURL }}/images/main.jpg" alt="" />
    </span>
  </section>

<!-- Section -->
  <section>
    <header class="major">
      <h2>Erat lacinia</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon fa-gem"></span>
        <div class="content">
          <h3>Portitor ullamcorper</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-paper-plane"></span>
        <div class="content">
          <h3>Sapien veroeros</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-rocket"></span>
        <div class="content">
          <h3>Quam lorem ipsum</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-signal"></span>
        <div class="content">
          <h3>Sed magna finibus</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
    </div>
  </section>

<!-- Section -->
  <section>
    <header class="major">
      <h2>Recent Posts</h2>
    </header>
    <div class="posts">
  {% for a in articles %}
    {% if loop.index < 7 %}
      <article>

        {% if a.splash_url %}
        <a href="{{ SITEURL }}/{{ a.url }}" class="image"><img src="{{ SITEURL }}/{{a.splash_url}}" alt="" /></a>
        {% endif %}

    <h3>{{ a.title }}</h3>

    {% if a.summary %}
    <p>{{ a.summary }}</p>
    {% endif %}

        <ul class="actions">
          <li><a href="{{ SITEURL }}/{{ a.url }}" class="button">More</a></li>
        </ul>

      </article>
    {% endif %}
  {% endfor %}
    </div>
  </section>
  <div style="max-width: 500px; margin: auto;">
  <ul class="actions fit">
    <li><a href="{{ SITEURL }}/archives" class="button fit">More Articles</a></li>
  </ul>
  </div>
  
{% endblock content %}
